:root{
	--first-color:  #11747A;
	--color-f1: #249CA4;
	--color-f2: #69C8CE;
	--color-f3: #9ED4D8;
	--color-f4: #C8F1F3;
	--second-color: #6D9A0E;
	--solor-s1: #96BA49;
	--solor-s2: #AFC382;
	--solor-s3: #D7EEA5;
	--solor-s4: #F4FBE6;
	--tittle-color: #293031;
	--color-t1: #485354;
	--color-t2: #737A7A;
	--color-t3: #A0A9AA;
	--font-size-h2-t: 2.4rem;
	--font-size-h2-d: 2.8rem;
	--font-size-p1: 1.63rem;
	--font-size-p2: 2rem;
	--font-size-p12: 0.75rem;
	--font-size-p10: 0.625rem;
	--font: 'Montserrat', sans-serif;
}

/*Reset*/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}


h1{
  margin: 0;
  font-size: 2rem;
}

h2{
  margin: 0;
  font-size: 1.5rem;
}

h3{
  margin: 0;
  font-size: 1.25rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

a{
  text-decoration: none;
}



/*utils*/

.none{
	display: none;
}

.menu.display{
	left: 0;
}



/*components*/

.btn{
	background: var(--first-color);
	color: var(--solor-s2);
	font-weight: bold;
	width: 14.2rem;
	height: 2.8rem;
	padding: 0.8rem;
	border-radius: 5px;
	text-align: center;
}

.container{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section{
	background: var(--solor-s4);
	width: 100%;
	min-height: 100vh;
}

/*styles site*/
.btn-menu{
  background-color: var(--first-color);
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  border: 0;
  border-radius: 50%;
  z-index: 10000000;
}

.btn-menu svg{
  fill: var(--solor-s3);
  font-size: 1.25rem;
}

.copy{
	width: 100%;
	height: 10%;
	font-size: var(--font-size-p10);
	text-align: center;
}

.container-hero{
	background: rgba(0, 0, 0, 0.5);
}

.container-info{
	padding: 1rem;
}

.container-info h2{
	text-align: center;
	color: var(--second-color);
	font-weight: bold;
}

.container-info p{
	color: var(--color-t1);
	text-align: justify;
}

.container-info img{
	width: 100%;
}

.container-p{
		padding: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
}

.container-p h2{
		text-align: center;
		color: var(--second-color);
		font-weight: bold;
}

.container-p p{
		color: var(--color-t1);
		text-align: center;
}

.container-p img{
		width: 100%;
		height: 16rem;
		object-fit: cover;
}

.datos{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-right: 3px solid var(--solor-s1);
}

.datos p{
	font-size: var(--font-size-p10);
	margin: 0;
	padding-left: 0.3rem;
}

.footer{
	background: var(--tittle-color);
	color: var(--solor-s4);
	width: 100%;
	height: 7rem;
	padding-top: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-info{
	width: 100%;
	height: 90%;
	display: flex;

}


.header{
	background-image: url("./assets/cafetera.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 9.8rem;

}

.header-info{
	padding: 0.4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo{
	width: 4.4rem;
	height: 4.4rem;
	border-radius: 50%;
}

.header-info h1{
	color: var(--solor-s3);
	text-align: center;
	display: inline;
	line-height: 0.8;
}

.header-info p{
	color: var(--solor-s3);
	font-size: 1.5rem;
	font-weight: 200;
	display: inline;
}

.header-info .text-header{
	padding: 0;
	text-align: center;
}

.header-capa{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.hero-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.hero-info h2{
	color: var(--solor-s2);
	font-size: 5.5vw;
	font-weight: bold;
	text-align: center;
}

.menu{
	background: var(--solor-s1);
	width: 100vw;
	height: 100vh;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 3rem;
	position: fixed;
	top: 0;
	right: 0;
	left: 400000px;
}

.menu a{
	color: var(--first-color);
	font-size: 1.2rem;
	font-weight: bold;
	width: 100%;
	height: 2.5rem;
	padding: 0.5rem;
	text-align: center;
	transition: all 0.3s ease-out;
}

.menu a:hover{
	background: var(--first-color);
	color: var(--solor-s4);
}

.redes{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;

}

.redes img{
	width: 2rem;
	height: 2rem;
	border-radius: 5px;
	object-fit: cover;
}

.section-hero{
	width: 100%;
	background-image: url("./assets/panta.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


@media (min-width: 744px){

	.container-productos{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}

	.footer p{
		font-size: var(--font-size-p12);
	}
}

@media (min-width: 1024px){

	.btn-menu{
		display: none;
	}

	body{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.container-info{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}

	.container-info h2{
		grid-column: span 2;
		font-size: 2rem;
	}

	.container-info .p2{
		grid-column: span 2;
	}

	h2{
		font-size: 2rem;
	}

	.header{
		height: 16.9rem;
	}

	.header-capa{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 1rem;
	}

	.menu{
		background: var(--first-color);
		padding: 0.8rem;
		position: static;
		flex-direction: row;
		height: 3rem;
		justify-content: center;
	}

	.menu a{
		color: var(--solor-s4);
		font-size: 1rem;
		width: 7rem;
		height: 2rem;
		transition: all 0.1s ease-out;
	}

	.menu a:hover{
		border-bottom: 3px solid var(--solor-s4);
	}

	.menu .logo{
		display: none;
	}

	p{
		font-size: 1.4rem;
	}

	.section{
		max-width: 1280px;
	}

}